[Unit]
Description=Custom Network Setup Script
Wants=network-online.target
After=network-online.target boot-ip-reset.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/check_all.sh --interface %i --network-prefix 120.13.212 --script-name br0_set_ip
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
