[program:rtshark-app]
command=/opt/rtshark-app/venv/bin/gunicorn -w 2 -b 127.0.0.1:5000 app:app
directory=/opt/rtshark-app
autostart=true
autorestart=true
stderr_logfile=/var/log/rtshark-app/rtshark-app.err.log
stdout_logfile=/var/log/rtshark-app/rtshark-app.out.log
user=rtshark
environment=SECRET_KEY="{% if existing_secret_key.stdout %}{{ existing_secret_key.stdout }}{% else %}{{ generated_secret_key.stdout }}{% endif %}", ADMIN_PASSWORD="{{ secrets.admin_password }}"


